<div class="panels">
  <a href="/one" class="panel red">
    <span class="small read">
      <span class="icon">v</span>Go To Subject
    </span>
    <div class="content">

      <div class="fixed">
        <h1>Javascript</h1>
        <span class="lecture">
            <ul>
              <li>DATA TYPES & DATA STRUCTURES</li>
              <br>
              <li>VARIABLES</li>
              <br>
              <li>SCOPE</li>
              <br>
              <li>HOISTING </li>
              <br>
              <li>GOOD PRACTICE</li>
              <br>
              <li>FUNCTIONS</li>
              <br>
              <li>CLEAN CODE</li>
            </ul>
        </span>
      </div>
    </div>
  </a>